#Telegram - Settings
OWNER_ID=
TELEGRAM_TOKEN=
TELEGRAM_WEB_APP=

#Database - Postgresql
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_USR=
POSTGRES_PWD=

#CryptAPI - Callback
CALLBACK_URL=
CALLBACK_PORT=

JWT_SECRET_KEY=

#Crypto - Address
BTC=
ETH=
LTC=
SOL=
TRX=
USDT_TRC20=
USDT_ERC20=
USDT_SOL=
