TELEGRAM_TOKEN=""
TELEGRAM_WEB_APP=""

POSTGRES_DB=marketplace_telegram
POSTGRES_HOST=localhost
POSTGRES_USR=admin_marketplace
POSTGRES_PWD=marketplace_telegram

CALLBACK_URL=""

ADDRESS_BTC=""
ADDRESS_ETH=""
ADDRESS_LTC=""
ADDRESS_SOL=""
ADDRESS_TRX=""
ADDRESS_USDT_TRC20=""
ADDRESS_USDT_ERC20=""
ADDRESS_USDT_SOL=""